[Unit]
Description=Irrigation controller
After=network.target postgresql.service

[Service]
Type=simple
User=jon
WorkingDirectory=/home/jon/irrigation-controller
ExecStart=/bin/bash -c 'source /home/jon/.nvm/nvm.sh && /home/jon/irrigation-controller/start-systemd.sh'
ExecStop=/bin/bash -c 'source /home/jon/.nvm/nvm.sh && /home/jon/irrigation-controller/stop.sh'
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
