[Unit]
Description=Irrigation controller
After=network.target

[Service]
ExecStart=/home/pi/irrigation-controller/start.sh
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
