[Unit]
Description=Irrigation controller
After=multi-user.target

[Service]
ExecStart=/bin/bash /home/jon/irrigation-controller/start.sh
User=jon

[Install]
WantedBy=multi-user.target
